/* CSS files add styling rules to your content */

h1 {
  color: green;
}

body{
color:lig
}

.maze{
  height:150px;
  border:1px soild black;
}


.home, .projects, .contacts{
  display:flex;
  justify-content:flex-start;
align-content:center;
  align-items:baseline;
  color: black;
  font-size:12px
 
}
.home{
  display:flex;
  justify-content:flex-start;
align-content:center;
  align-items:baseline;
  color: black;
  font-size:12px}

.projects{
  display:flex;
  justify-content:flex-start;
align-content:center;
  align-items:baseline;
  color: black;
  font-size:12px}

.contacts{
  display:flex;
  justify-content:flex-start;
align-content:center;
  align-items:stretch;
  color: black;
  font-size:12px}