/* CSS files add styling rules to your content */

h1 {
  color: green;
}

.home,.projects,.contacts{
  display:flex
  justify-content:space-around;
  border:20px;
  color:black;
}

.maze{
    display:flex;
  justify-content:center;
  align-items:center;
  height:120px;
  border:10px soild black;
}

 
.maze1{
    display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  border:1px soild black;
}

.maze, .maze1{
  border:20px ;
}