/* CSS files add styling rules to your content */

h1 {
  color: green;
}

body{
color:lig;
  display:flex;
  justify-content:flex-start;
}

.maze{
  height:150px;
  border:1px soild black;
}


 
}
.home{
  display:flex;
  flex-container:flex-start;
align-content:flex-start;
  align-items:baseline;
  color: black;
  font-size:12px;
width:100px;
  
}

.projects{
  display:flex;
  flex-container:flex-start;
  color: black;
  font-size:12px;
  length:px;
width:100px
}

.contacts{
  display:flex;
  flex-container:flex-start;
  color: black;
  font-size:12px;
  width:150px;
}